<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="email_service" value="email_service"/>
	</appSettings>
	<connectionStrings>
		<add name="auth_db" connectionString="Host=localhost;Port=5432;Database=Auth_db;Username=postgres;Password=q1w"/>
	</connectionStrings>
</configuration>